<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>センサーデータ可視化サンプル</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.6.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@latest/dist/chartjs-plugin-streaming.min.js"></script>
    </head>
<body>
	<!--
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
	 -->

	<h2>accelerometer</h2>
	<div class="chart">
		<canvas id="accChart"></canvas>
	</div>
	<h2>gyrometer</h2>
	<div class="chart">
		<canvas id="gyroChart"></canvas>
	</div>
	<h2>magnetometer</h2>
	<div class="chart">
		<canvas id="magnetoChart"></canvas>
	</div>
	<!--
	<div>
		<p class="text-center">
			<button id="randomizeData">Randomize Data</button>
			<button id="addDataset">Add Dataset</button>
			<button id="removeDataset">Remove Dataset</button>
			<button id="addData">Add Data</button>
			<button id="resetZoom">Reset Zoom</button>
		</p>
	</div>
	-->

	<script>
		//jQuery処理の記述

			//ajax通信を実装
		function ajaxBigQuery() {
			return $.ajax({
				type: 'get',
				url: 'http://0.0.0.0:5000/api',
				dataType:"json" //必須!これがないとundefined
			})
		}
		var chartColors = {
			red: 'rgb(255, 99, 132)',
			orange: 'rgb(255, 159, 64)',
			yellow: 'rgb(255, 205, 86)',
			green: 'rgb(75, 192, 192)',
			blue: 'rgb(54, 162, 235)',
			purple: 'rgb(153, 102, 255)',
			grey: 'rgb(201, 203, 207)'
		};

		function randomScalingFactor() {
			return (Math.random() > 0.5 ? 1.0 : -1.0) * Math.round(Math.random() * 100);
		}

		function onRefresh(chart) {
			//var eachDataObj = {};

			ajaxBigQuery().done(function(data) {
			/*
				for (const key in data) {
					eachDataObj[key] = Object.values(data[key]);
				};
			*/
				const accelerometer_x_data = Object.values(data["accelerometer_x"]);
				const accelerometer_y_data = Object.values(data["accelerometer_y"]);
				const accelerometer_z_data = Object.values(data["accelerometer_z"]);

				const gyrometer_x_data = Object.values(data["gyrometer_x"]);
				const gyrometer_y_data = Object.values(data["gyrometer_y"]);
				const gyrometer_z_data = Object.values(data["gyrometer_z"]);

				const magnetometer_x_data = Object.values(data["magnetometer_x"]);
				const magnetometer_y_data = Object.values(data["magnetometer_y"]);
				const magnetometer_z_data = Object.values(data["magnetometer_z"]);

				/*
				chart.config.data.datasets.forEach(function(dataset) {
					dataset.data.push({
						x: Date.now(),
						y: accelerometer_x_data.slice(-1)[0]
					});
				});
				*/
				let accelerometer_x_idx = 0;
				let accelerometer_y_idx = 1;
				let accelerometer_z_idx = 2;
				let gyrometer_x_idx = 0;
				let gyrometer_y_idx = 1;
				let gyrometer_z_idx = 2;
				let magnetometer_x_idx = 0;
				let magnetometer_y_idx = 1;
				let magnetometer_z_idx = 2;

				accChart.config.data.datasets[accelerometer_x_idx].data.push({
					x: Date.now(),
					y: accelerometer_x_data.slice(-1)[0]
				});
				accChart.config.data.datasets[accelerometer_y_idx].data.push({
					x: Date.now(),
					y: accelerometer_y_data.slice(-1)[0]
				});
				accChart.config.data.datasets[accelerometer_z_idx].data.push({
					x: Date.now(),
					y: accelerometer_z_data.slice(-1)[0]
				});

				gyroChart.config.data.datasets[gyrometer_x_idx].data.push({
					x: Date.now(),
					y: gyrometer_x_data.slice(-1)[0]
				});
				gyroChart.config.data.datasets[gyrometer_y_idx].data.push({
					x: Date.now(),
					y: gyrometer_y_data.slice(-1)[0]
				});
				gyroChart.config.data.datasets[gyrometer_z_idx].data.push({
					x: Date.now(),
					y: gyrometer_z_data.slice(-1)[0]
				});

				magnetoChart.config.data.datasets[magnetometer_x_idx].data.push({
					x: Date.now(),
					y: magnetometer_x_data.slice(-1)[0]
				});
				magnetoChart.config.data.datasets[magnetometer_y_idx].data.push({
					x: Date.now(),
					y: magnetometer_y_data.slice(-1)[0]
				});
				magnetoChart.config.data.datasets[magnetometer_z_idx].data.push({
					x: Date.now(),
					y: magnetometer_z_data.slice(-1)[0]
				});


			}).fail(function() {
				alert("失敗");
			});
			/*
			var each_data = {
				"device_id" : [],
				"time" : [],
				"left_right" : [],
				"accelerometer_x" : [],
				"accelerometer_y" : [],
				"accelerometer_z" : [],
				"gyrometer_x" : [],
				"gyrometer_y" : [],
				"gyrometer_z" : [],
				"magnetometer_x" : [],
				"magnetometer_y" : [],
				"magnetometer_z" : [],
			};
			/*
			for (i = 0; i < bq_data["time"].length; i++) {
				each_data["device_id"].push(bq_data["device_id"][i]);
				each_data["time"].push(bq_data["time"][i]);
				each_data["left_right"].push(bq_data["left_right"][i]);
				each_data["accelerometer_x"].push(bq_data["accelerometer_x"][i]);
				each_data["accelerometer_z"].push(bq_data["accelerometer_z"][i]);
				each_data["gyrometer_x"].push(bq_data["gyrometer_x"][i]);
				each_data["gyrometer_y"].push(bq_data["gyrometer_y"][i]);
				each_data["gyrometer_z"].push(bq_data["gyrometer_z"][i]);
				each_data["magnetometer_x"].push(bq_data["magnetometer_x"][i]);
				each_data["magnetometer_y"].push(bq_data["magnetometer_y"][i]);
				each_data["magnetometer_z"].push(bq_data["magnetometer_z"][i]);
			}
			*/
		}

		var color = Chart.helpers.color;
		var config = {
			type: 'line',
			data: {
				datasets: [
					{
						label: 'accelerometer_x (linear interpolation)',
						backgroundColor: color(chartColors.red).alpha(0.5).rgbString(),
						borderColor: chartColors.red,
						fill: false,
						lineTension: 0,
						borderDash: [8, 4],
						data: []
					}, {
						label: 'accelerometer_y (cubic interpolation)',
						backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
						borderColor: chartColors.blue,
						fill: false,
						cubicInterpolationMode: 'monotone',
						data: []
					},
					{
						label: 'accelerometer_z (cubic interpolation)',
						backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
						borderColor: chartColors.green,
						fill: false,
						cubicInterpolationMode: 'monotone',
						data: []
					}
				]
			},
			options: {
				title: {
					display: true,
					text: 'stream accelerometer'
				},
				scales: {
					xAxes: [{
						stacked: false,
						type: 'realtime',
						realtime: {
							duration: 20000,
							refresh: 500,
							delay: 2000,
							onRefresh: onRefresh
						}
					}],
					yAxes: [{
						stacked: true,
						type: 'linear',
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'value'
						}
					}]
				},
				tooltips: {
					mode: 'nearest',
					intersect: false
				},
				hover: {
					mode: 'nearest',
					intersect: false
				},
				pan: {
					enabled: true,
					mode: 'x',
					rangeMax: {
						x: 4000
					},
					rangeMin: {
						x: 0
					}
				},
				zoom: {
					enabled: true,
					mode: 'x',
					rangeMax: {
						x: 20000
					},
					rangeMin: {
						x: 1000
					}
				}
			}
		};
		var gyroConfig = {
			type: 'line',
			data: {
				datasets: [
					{
						label: 'gyrometer_x (linear interpolation)',
						backgroundColor: color(chartColors.red).alpha(0.5).rgbString(),
						borderColor: chartColors.red,
						fill: false,
						lineTension: 0,
						borderDash: [8, 4],
						data: []
					}, {
						label: 'gyrometer_y (cubic interpolation)',
						backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
						borderColor: chartColors.blue,
						fill: false,
						cubicInterpolationMode: 'monotone',
						data: []
					},
					{
						label: 'gyrometer_z (cubic interpolation)',
						backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
						borderColor: chartColors.green,
						fill: false,
						cubicInterpolationMode: 'monotone',
						data: []
					}
				]
			},
			options: {
				title: {
					display: true,
					text: 'stream gyrometer'
				},
				scales: {
					xAxes: [{
						stacked: false,
						type: 'realtime',
						realtime: {
							duration: 20000,
							refresh: 500,
							delay: 2000,
							onRefresh: onRefresh
						}
					}],
					yAxes: [{
						stacked: false,
						type: 'linear',
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'value'
						}

					}]
				},
				tooltips: {
					mode: 'nearest',
					intersect: false
				},
				hover: {
					mode: 'nearest',
					intersect: false
				},
				pan: {
					enabled: true,
					mode: 'x',
					rangeMax: {
						x: 4000
					},
					rangeMin: {
						x: 0
					}
				},
				zoom: {
					enabled: true,
					mode: 'x',
					rangeMax: {
						x: 20000
					},
					rangeMin: {
						x: 1000
					}
				}
			}
		};

		var magnetoConfig = {
			type: 'line',
			data: {
				datasets: [
					{
						label: 'magnetometer_x (linear interpolation)',
						backgroundColor: color(chartColors.red).alpha(0.5).rgbString(),
						borderColor: chartColors.red,
						fill: false,
						lineTension: 0,
						borderDash: [8, 4],
						data: []
					}, {
						label: 'magnetometer_y (cubic interpolation)',
						backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
						borderColor: chartColors.blue,
						fill: false,
						cubicInterpolationMode: 'monotone',
						data: []
					},
					{
						label: 'magnetometer_z (cubic interpolation)',
						backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
						borderColor: chartColors.green,
						fill: false,
						cubicInterpolationMode: 'monotone',
						data: []
					}
				]
			},
			options: {
				title: {
					display: true,
					text: 'stream magnetometer'
				},
				scales: {
					xAxes: [{
						stacked: false,
						type: 'realtime',
						realtime: {
							duration: 20000,
							refresh: 500,
							delay: 2000,
							onRefresh: onRefresh
						}
					}],
					yAxes: [{
						stacked: false,
						type: 'linear',
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'value'
						}

					}]
				},
				tooltips: {
					mode: 'nearest',
					intersect: false
				},
				hover: {
					mode: 'nearest',
					intersect: false
				},
				pan: {
					enabled: true,
					mode: 'x',
					rangeMax: {
						x: 4000
					},
					rangeMin: {
						x: 0
					}
				},
				zoom: {
					enabled: true,
					mode: 'x',
					rangeMax: {
						x: 20000
					},
					rangeMin: {
						x: 1000
					}
				}
			}
		};

		// chartの画面の生成
		window.onload = function() {
			var ctx = document.getElementById('accChart').getContext('2d');
			window.accChart = new Chart(ctx, config);

			var gyroCtx = document.getElementById('gyroChart').getContext('2d');
			window.gyroChart = new Chart(gyroCtx, gyroConfig);

			var magnetoCtx = document.getElementById('magnetoChart').getContext('2d');
			window.magnetoChart = new Chart(magnetoCtx, magnetoConfig);
		};






		document.getElementById('randomizeData').addEventListener('click', function() {
			config.data.datasets.forEach(function(dataset) {
				dataset.data.forEach(function(dataObj) {
					dataObj.y = randomScalingFactor();
				});
			});

			window.accChart.update();
		});

		var colorNames = Object.keys(chartColors);
		document.getElementById('addDataset').addEventListener('click', function() {
			var colorName = colorNames[config.data.datasets.length % colorNames.length];
			var newColor = chartColors[colorName];
			var newDataset = {
				label: 'Dataset ' + (config.data.datasets.length + 1),
				backgroundColor: color(newColor).alpha(0.5).rgbString(),
				borderColor: newColor,
				fill: false,
				lineTension: 0,
				data: []
			};

			config.data.datasets.push(newDataset);
			window.accChart.update();
		});

		document.getElementById('removeDataset').addEventListener('click', function() {
			config.data.datasets.pop();
			window.accChart.update();
		});

		document.getElementById('addData').addEventListener('click', function() {
			onRefresh(window.accChart);
			window.accChart.update();
		});

		document.getElementById('resetZoom').addEventListener('click', function() {
			window.accChart.resetZoom();
		});

	</script>
</body>
</html>

