{% extends "base.html" %}
{% block content %}

	<div>
		<canvas id="myChart"></canvas>
	</div>
	<p>
		<button id="randomizeData">Randomize Data</button>
		<button id="addDataset">Add Dataset</button>
		<button id="removeDataset">Remove Dataset</button>
		<button id="addData">Add Data</button>
	</p>
  <iframe width="1000" height="850" src="https://datastudio.google.com/embed/reporting/0adbaf1f-6e46-41ae-9787-09613c5f8c7c/page/XGLVB" frameborder="0" style="border:0" allowfullscreen></iframe>

{% endblock %}